<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header') -%>
        <% if(flash.success && flash.success.length > 0) { %>
            <h5>
                <%= flash.success %>
            </h5>
        <% } %>
        <main>
            <%- body -%>
        </main>
        <!-- <%- include('_footer') -%> -->
        <%- script -%>
    </body>
</html>