<!DOCTYPE html>
<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- <script src="https://kit.fontawesome.com/80a786f28a.js" crossorigin="anonymous"></script> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%- style %>
    </head>
    <body>
        <%- include('_header') -%>
        <main>
            <%- body -%>
        </main>
        <!-- <%- include('_footer') -%> -->
        <%- script -%>
        <script>
            <% if(flash.success && flash.success.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    text: '<%= flash.success %>',
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
            <% } %>

            <% if(flash.error && flash.error.length > 0) { %>
                new Noty({
                    theme: 'relax',
                    text: '<%= flash.error %>',
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                }).show();
            <% } %>
        </script>
    </body>
</html>